$black: #000000;
$blackText: #212121;
$white: #ffffff;
$darkTeal:#006272;
$midTeal:#009CA6;
$lightTeal: #E1F1EF;
$green: #55961B;
$maroon:#76232F;
$petroniam:#00645A;
$darkGrey:#333332;
$midGrey:#75787B;
$lightGrey:#75787B;
$lightTealButton:#7FCDD2;


.bg_light{
    background: $lightTeal;
}
