@import "./colors";

// Button style
.btn {
  position: relative;
  display: inline-block;
  padding: 8px 35px;
  font-family: $fontLato;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  background: $darkTeal;
  color: $white;
  overflow: hidden;
  transform-style: preserve-3d;
  display: inline-block;
  span,i {
    position: relative;
    z-index: 2;
  }
  &::before {
    position: absolute;
    content: "";
    width: 150%;
    height: 100%;
    left: 0;
    top: 50%;
    right: 0;
    bottom: 0;
    transform: translate(0, -50%) scaleX(0);
    background: #009ca6;
    transform-origin: left;
    transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    clip-path: polygon(0 0, 68% 0, 100% 100%, 0% 100%);
  }
  svg {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
  &.btn_white {
    color: $midTeal;
    background: $white;
    &::before {
      background: $lightTeal;
    }
  }
  &.btn_big {
    padding: 15px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    &::before {
      clip-path: polygon(0 0, 79% 0, 100% 100%, 0% 100%);
      width: 130%;
    }
  }
  &.btn_dark_white {
    color: $darkTeal;
    background: $white;
    border-color: transparent;
    &::before {
      background: #7fcdd2;
    }
  }
  &.btn_trans {
    border: 1px solid $darkTeal;
    background: transparent;
    color: $darkTeal;
    &::before {
      background: #7fcdd2;
    }
  }
  &:hover {
    &::before {
      transform: translate(0, -50%) scaleX(1);
    }
  }
  &:active,
  &:focus {
    &::before {
      width: 200%;
      transform: translate(0, -50%) scaleX(1);
    }
  }
}

// Form checkbox style
.checkbox_container {
  display: block;
  height: 20px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: $white;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkmark {
  background-color: $white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 3px;
  height: 8px;
  border: solid $midTeal;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// Accordion style overwrite
.ui-accordion .ui-accordion-header {
  position: relative;
  padding: 15px 0;
  margin: 0;
  font-weight: normal;
  font-family: $fontLato;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background: transparent;
  border: 0;
  color: $black !important;
  letter-spacing: 0;
  border-radius: 0;
  outline: none !important;
  @media screen and (max-width: 769px) {
    padding-right: 20px;
  }
  border-top: 1px solid;
  border-color: $midTeal;
  &:last-child {
    border-bottom: 1px solid;
    border-color: $midTeal;
  }
  .ui-accordion-header-icon {
    display: none;
  }
  &::before {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    width: 20px;
    height: 0.01em;
    transform: translateY(-50%);
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background: $black;
  }
  &::after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    width: 20px;
    height: 0.01em;
    transform: translateY(-50%) rotate(-90deg);
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background: $black;
  }
  &.ui-state-active {
    &::after {
      transform: translateY(-50%) rotate(0deg);
    }
  }
}
.ui-accordion .ui-accordion-content {
  padding: 0 40px 15px;
  border: 0;
  background: transparent;
  @media screen and (max-width: 768px) {
    padding: 0 0 20px;
  }
  p {
    font-family: $fontLato;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}
